section[aria-labelledby="hourly-forecast-label"] {
  $gap: 1rem;

  ul {
    // reset
    padding: 0;
    list-style-type: none;

    display: grid;
    gap: $gap;
    padding-inline: 1rem;
  }

  li {
    $left-margin: 10rem;
    $dot-size: 1rem;

    position: relative;
    margin-inline-start: $left-margin;
    background-color: darksalmon;
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;

    .datetime {
      position: absolute;
      left: -$left-margin;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      content: "";
      position: absolute;
      width: $dot-size;
      height: $dot-size;
      left: -$left-margin;
      top: 50%;
      transform: translateY(-50%) translateX($left-margin - 2 * $dot-size);
      border-radius: 50%;
      background-color: #232323;
    }

    &:not(:last-child) {
      &::after {
        $size: 3px;

        content: "";
        position: absolute;
        width: $size;
        height: $dot-size * 4;
        left: -$left-margin;
        top: 50%;
        transform: translateX(calc($left-margin - $dot-size * 1.55));
        background-color: #232323;
      }
    }
  }
}
