section[aria-labelledby=city] {
  display: inline-block;
  max-width: fit-content;
  margin-inline-start: 1rem;
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: pink;

  * {
    margin: 0;
    font-weight: bold;
  }

  .data {
    font-weight: normal;
  }
}

#temp {
  font-size: 4rem;
  line-height: 1;

  .data {
    font-weight: bold;
  }
}

#description {
  font-size: 1.25rem;
}

#city {
  font-size: 1.5rem;
}

#last-updated {
  display: none;
  font-size: .85em;
}